body {
    background-image: url(./assets/professer_oak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    float: left;
    position: relative;
    left: 40em;
    margin: 10px;
    top: 1em;
}

p {
    float: left;
    position: relative;
    top: 2em;
    left: 50px;
}

.HeadInfo {
    border: solid 7px black;
    text-align: center;
    font-family: sans-serif;
}

h4 {
    position: relative;
    left: 40em;
    top: 1em;
    font-size: x-large;
} 

img {
    bottom: 3em;
    position: relative;
    right: .75em;
}

#container {
    background-image: url(./assets/text-bubble.png);
    background-repeat: no-repeat;
    background-size: 45% 100%;
    background-position: center;
    /* left: 25em;
    top: 35em; */
    margin: auto;
    margin-top: 35em;
}